---
// --------------
// Main Layout ==
// --------------

// Configuration
import { TLO } from "~/utils/config";

// TLO Components
import HtmlPage from '~/layouts/tlo/Html.astro';
import Header from '~/tlo/widgets/Header.astro';
import Footer from '~/tlo/widgets/Footer.astro';
import RecentPosts from '~/tlo/widgets/RecentPosts.astro';
import AboutLacking from '~/tlo/widgets/AboutLacking.astro';
import CategoryHeader from '~/tlo/widgets/CategoryHeader.astro';

// Navigation Data
import { headerData, footerData } from '~/navigation';

// Typescript
import type { MetaData } from '~/types';
import Heading from "~/tlo/ui/Heading.astro";
export interface Props {
  metadata?: MetaData;
}

export interface Props {
  frontmatter?: {
    title?: string
    subtitle?: string
  }
}

// Page Metadata
const { metadata, frontmatter } = Astro.props;
const homeCategory = TLO?.categories.home
console.log('metadata', metadata)
---

<HtmlPage metadata={metadata}>

  <!-- Header -->
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed />
  </slot>

  <!-- Main -->
  <main>
    <div class="md:flex flex-row">

      <!-- Left Sidebar -->
      <div class="left-sidebar hidden md:block basis-1/4">
        <slot name="sidebar">
            <!-- Default Sidebar Content -->

          <!-- Category Header -->
          <CategoryHeader category={homeCategory} description={false} />

          <!-- Recent articles -->
          <RecentPosts />

          <!-- About lacking.org -->
          <AboutLacking />
        </slot>
      </div>

      <!-- Content -->
      <div class="content basis-3/4">

        <Heading
          title={frontmatter?.title}
          subtitle={frontmatter?.subtitle}
        />

        <div class="tlo-box">
          <slot />
        </div>
      </div>

    </div>  
  </main>

  <!-- Footer -->
  <slot name="footer">
    <Footer {...footerData} />
  </slot>

</HtmlPage>
