---
// --------------
// Single Post ==
// --------------

import PostTags from '~/components/blog/Tags.astro';
import SocialShare from '~/components/common/SocialShare.astro';

// TLO Widgets
import Heading from '~/components/tlo/ui/Heading.astro';
import Playlist from '~/components/tlo/widgets/Playlist.astro';
import Player from '~/components/tlo/widgets/Player.astro';
import FeatureImage from '~/components/tlo/widgets/FeatureImage.astro';

import YoutubeVideo from '~/components/common/YoutubeVideo.astro';

import type { Post } from '~/types';
export interface Props {
  post: Post;
  url: string | URL;
}

const { post, url } = Astro.props;
const { Content } = post;
---

  <article class="tlo-post">

    <!-- Post Header -->
    <header>

      <!-- Heading -->
      <Heading post={post} link={false} />
      
    </header>
    
    <!-- Content -->
    <div class="tlo-box tlo-content">

      <!-- Feature Image -->
      <FeatureImage post={post} link={false} />

      {Content ? <Content /> : <Fragment set:html={post.content || ''} />}

      <!-- Media -->
      {post.media && <Player media={post.media} />}

      <!-- Playlist -->
      {post.playlist && <Playlist playlist={post.playlist} />}

      <!-- YouTube -->
      {post.youtube && <YoutubeVideo videoId={post.youtube} />}

      <!-- Post Footer -->
      <footer>

        <!-- Tags -->
        <PostTags tags={post.tags} />

        <!-- Social Share -->
        <SocialShare url={url} text={post.title} />

      </footer>
    </div>

  </article>
