---
// ------------------
// Category Header ==
// ------------------

// Typescript
import type { Widget } from "~/types";
export interface Props extends Widget {
  category?: TloCategory;
  title?: string;
  linkText?: string;
  linkUrl?: string | URL;
  information?: string;
  count?: number;
}

// Configuration
import { APP_BLOG, type TloCategory } from "~/utils/config";

// Utilities
import { getMorePosts } from "~/utils/tlo"

const {
  category
} = Astro.props;

---

<!-- Background -->
<div class="category-background flex flex-col justify-between items-center aspect-square" style=`background-image: url(/images/${category?.background});`>

  <!-- Icon -->
  <img class="category-icon" src={`/images/${category?.icon}`} alt={category?.title} />

  <!-- Category Title -->
  <h1 class="category-title" set:html={category?.title} />

  <!-- Category Tagline -->
  <h3 class="category-tagline" set:html={category?.tagline} />

</div>

<!-- Category Description -->
<p class="category-description" set:html={category?.description} />
