---
// Typescript
import type { Widget } from "~/types";
// Configuration
import { APP_BLOG, type TloCategory } from "~/utils/config";
// Utilities
import { findLatestPosts } from "~/utils/blog";
import { getMorePosts } from "~/utils/tlo"
// TLO Components
import Button from "~/components/tlo/ui/Button.astro";
import WidgetWrapper from "~/components/tlo/ui/WidgetWrapper.astro";
import Archive from '~/components/tlo/archive/Listing.astro';

export interface Props extends Widget {
  category?: TloCategory;
  title?: string;
  linkText?: string;
  linkUrl?: string | URL;
  information?: string;
  count?: number;
}

const {
  category,
  title = await Astro.slots.render("title"),
  linkText = "View more posts",
  linkUrl = getMorePosts(),
  information = await Astro.slots.render("information"),
  count = APP_BLOG.postsPerPage,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render("bg"),
} = Astro.props;

---

<WidgetWrapper id={id} isDark={isDark} containerClass={classes?.container} bg={bg}>
  <!-- Background -->
  <div class="flex flex-col justify-around aspect-square" style=`background-image: url(/images/${category?.background});`>
    <!-- Category Title -->
    <h1 class="text-4xl font-bold text-white text-center" set:html={category?.title} />
    <!-- Category Tagline -->
    <h3 class="text-2xl font-bold text-white text-center" set:html={category?.tagline} />
  </div>
  <!-- Category Description -->
  <p class="font-bold" set:html={category?.description} />
</WidgetWrapper>
