---
// Typescript
import type { Widget } from "~/types";
// Configuration
import { APP_BLOG, TLO } from "~/utils/config";
// Utilities
import { findLatestPosts } from "~/utils/blog";
import { getMorePosts } from "~/utils/tlo"
import { getPermalink } from "~/utils/permalinks";

import Image from '~/components/common/Image.astro';
// TLO Components
import Button from "~/components/tlo/ui/Button.astro";
import WidgetWrapper from "~/components/tlo/ui/WidgetWrapper.astro";
import Archive from '~/components/tlo/archive/Listing.astro';

export interface Props extends Widget {
  title?: string;
  linkText?: string;
  linkUrl?: string | URL;
  information?: string;
  count?: number;
}

const {
  title = await Astro.slots.render("title"),
  linkText = "View more posts",
  linkUrl = getMorePosts(),
  information = await Astro.slots.render("information"),
  count = APP_BLOG.postsPerPage,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render("bg"),
} = Astro.props;

const posts = await findLatestPosts({ count });

// const categoryIndex = ['mixtapes','playlists','reviews','news']
const categoryIndex = ['mixtapes','playlists']
---

<WidgetWrapper id={id} isDark={isDark} containerClass={classes?.container} bg={bg}>
  {
    categoryIndex.map((category) => (
      <div class="flex h-auto">
        <div class="w-1/5">
          <Image
            width={100}
            height={70}
            widths={[400, 768]}
            layout="fixed"
            src=`/images/${TLO?.categories[category].icon}`
            alt={TLO?.categories[category].tagline}
          />
        </div>
        <div class="w-4/5 ml-3 rtl:ml-0 rtl:mr-3">
          <a class="capitalize hover:underline" href={getPermalink(category, 'category')}>
            {TLO?.categories[category].title}
          </a>
          <p set:html={TLO?.categories[category].description} />
        </div>
      </div>
    ))
  }
</WidgetWrapper>
