---
import type { ImageMetadata } from 'astro';
import { Icon } from 'astro-icon/components';
import Image from '~/components/ui/Image.astro';
import PostTags from '~/components/blog/Tags.astro';

import { APP_BLOG } from '~/utils/config';
import type { Post } from '~/types';

import Heading from '~/components/tlo/ui/Heading.astro';
import Player from '~/components/tlo/widgets/Player.astro';

import { getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';
import { getFormattedDate } from '~/utils/utils';

// TLO
import { toMarkdown } from '~/utils/tlo';
import FeatureImage from '../widgets/FeatureImage.astro';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<article class="tlo-list-item tlo-box">

  <FeatureImage post={post} />

  <header class="my-4">
    <Heading post={post} />
  </header>

  <!-- Excerpt -->
  {post.excerpt && <p class="flex-grow text-muted dark:text-slate-400 text-lg" set:html={toMarkdown(post.excerpt)} />}

  <!-- Media -->
  <div class="my-4">
    {post.media && <Player media={post.media} />}
  </div>

  <!-- Tags -->
  <footer class="mt-4">
    <PostTags tags={post.tags} />
  </footer>

  </article>
