---
// ------------------
// Category Header ==
// ------------------

// Typescript
import type { Widget } from "~/types";
import { type TloCategory } from "~/utils/config";
export interface Props extends Widget {
  category?: TloCategory;
  description?: boolean;
}

// Properties
const {
  category,
  description = true
} = Astro.props;
---

<!-- Background -->
<div
  class="tlo-category-background"
  style=`background-image: url(/images/${category?.background});`
>

  <!-- Icon -->
  <img class="tlo-category-icon"
    src={`/images/${category?.icon}`}
    alt={category?.title}
  />

  <!-- Category Title -->
  <h1 class="tlo-category-title" set:html={category?.title} />

  <!-- Category Tagline -->
  <h3 class="tlo-category-tagline" set:html={category?.tagline} />

</div>

<!-- Category Description -->
{description && <p class="tlo-category-description" set:html={category?.description} />}
