---
// ------------------
// Category Header ==
// ------------------

// Typescript
import type { Widget } from "~/types";
import { type TloCategory } from "~/utils/config";
export interface Props extends Widget {
  category?: TloCategory | string;
  description?: boolean;
}

// Configuration
import { TLO } from "~/utils/config";

// Properties
const {
  category,
  description = true
} = Astro.props;

const categoryItem = (typeof category == 'string')
  ? TLO?.categories[category]
  : category

---

<section id="intro">
  
  <!-- Background -->
  <header
    class="banner tlo-category-background"
    style=`background-image: url(/images/${categoryItem?.background});`
  >

    <!-- Icon -->
    <img class="tlo-category-icon"
      src={`/images/${categoryItem?.icon}`}
      alt={categoryItem?.title}
    />

    <!-- Category Title -->
    <h2 class="tlo-category-title" set:html={categoryItem?.title} />

    <!-- Category Tagline -->
    <p class="tlo-category-tagline" set:html={categoryItem?.tagline} />

  </header>

  <!-- Category Description -->
  {description && <p class="tlo-category-description" set:html={categoryItem?.description} />}

</section>  
