---
import { Icon } from 'astro-icon/components';

import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate } from '~/utils/utils';

import type { Post } from '~/types';

export interface Props {
  post?: Post;
  kicker?: string;
  title?: string;
  subtitle?: string;
  url?: string;
  link?: boolean;
  short?: boolean;
}

const {
  post,
  kicker,
  title,
  subtitle,
  url,
  link = true,
  short = false,
} = Astro.props;
const headingTitle = post?.title || title
const headingSubtitle = short ? '' : post?.subtitle || subtitle

// Extract and normalize heading link
let headingLink = link ? post?.permalink || url : null;
headingLink = link && !headingLink?.startsWith('/') ? `/${headingLink}` : headingLink;

// Defaults for now
const showAuthor = false
const showReadingTime = false

---

<!-- Header -->
<header>

  <div class="title">
    <!-- Title -->
    {headingLink ? (
      <h2><a
        href={headingLink}
        set:html={headingTitle}
      /></h2>
    ) : (
      <h2 set:html={headingTitle} />
    )}

    <!-- Subtitle -->
    <p set:html={headingSubtitle} />
  </div>

  <!-- Meta -->
  {post && 
    <div class="meta">

      <!-- Publication Date -->
      <time class="published" datetime={String(post.publishDate)}>{getFormattedDate(post.publishDate)}</time>

      <!-- Category -->
      {
        post.category && (
          <span>in </span><a class="author-block" href={getPermalink(post.category, 'category')}>
            {post.category.replaceAll('-', ' ')}
          </a>
        )
      }
      {/* TODO: Section Avatar */}

    </div>
  }
</header>
