---

import type { Post } from '~/types'

import PostTags from '~/tlo/ui/Tags.astro'
import Heading from '~/tlo/widgets/Heading.astro'
import Player from '~/tlo/widgets/Player.astro'
import FeatureImage from '~/tlo/widgets/FeatureImage.astro'

import { getPermalink } from '~/utils/permalinks'
import { toMarkdown } from '~/utils/tlo'

export interface Props {
  title?: string;
  subtitle?: string;
  post?: Post;
  variant?: 'full' | 'mini' | 'micro'
}

const {
  title,
  subtitle,
  post,
  variant = 'full'
} = Astro.props

const full = variant == 'full'
const mini = variant == 'mini'
const micro = variant == 'micro'

const postLink = getPermalink(post.permalink, 'post')

const itemTitle = post ? post.title : title
const itemSubtitle = post ? post.subtitle : subtitle
---

<!-- Full Item -->
{full &&
<article class="post">

  <!-- Heading -->
  <Heading post={post} short={true} />

  <!-- Feature Image -->
  {post &&
    <FeatureImage post={post} />
  }

  <!-- Media -->
  {post?.media &&
    <div class="tlo-item-media">
      <Player media={post.media} />
    </div>
  }

  <!-- Excerpt -->
  {post?.excerpt &&
    <div class="tlo-item-description" set:html={toMarkdown(post.excerpt)} />
  }

  <!-- Footer -->
  <footer>
    <!-- Tags -->
    <!-- TODO: Format tags -->
    <!-- <PostTags tags={post?.tags} /> -->
    <!-- Read More -->
    <ul class="actions">
      <li><a href={postLink} class="button large">Furthermore &raquo;</a></li>
    </ul>
    <!-- <ul class="stats">
      <li><a href="#">General</a></li>
      <li><a href="#" class="icon solid fa-heart">28</a></li>
      <li><a href="#" class="icon solid fa-comment">128</a></li>
    </ul> -->
  </footer>
</article>
}

<!-- Mini Item -->
{mini &&
  <article class="mini-post">
    <header>
      <h3><a href={postLink} set:html={itemTitle} /></h3>
      <time class="published" datetime="2015-10-20">October 20, 2015</time>
      <a href="#" class="author"><img src="/images/future-imperfect-images/avatar.jpg" alt="" /></a>
    </header>
    <a href="single.html" class="image"><img src="/images/future-imperfect-images/pic04.jpg" alt="" /></a>
  </article>
}

<!-- Micro Item -->
{micro &&
  <article>
    <header>
      <h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>
      <time class="published" datetime="2015-10-20">October 20, 2015</time>
    </header>
    <a href="single.html" class="image"><img width="50" src="/images/future-imperfect-images/pic08.jpg" alt="" /></a>
  </article>
}