---
import { Icon } from 'astro-icon/components';

import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate } from '~/utils/utils';

import type { Post } from '~/types';

export interface Props {
  post?: Post;
  kicker?: string;
  title?: string;
  subtitle?: string;
}

const { post, kicker, title, subtitle } = Astro.props;
const headingTitle = post?.title || title
const headingSubtitle = post?.subtitle || subtitle

const showAuthor = false
const showReadingTime = false
---
<div class="tlo-heading">

  <!-- Text Kicker -->
  {kicker && (
    <p
      class="tlo-heading-kicker"
      set:html={kicker}
    />
  )}

  <!-- Post Meta -->
  {post && (
    <p class="tlo-heading-kicker">

      {/* Clock Icon */}
      <Icon name="tabler:clock" class="w-4 h-4 inline-block -mt-0.5 dark:text-gray-400" />

      {/* Post Date */}
      <time datetime={String(post.publishDate)} class="inline-block">{getFormattedDate(post.publishDate)}</time>

      {/* Author */}
      {
        showAuthor && post?.author && (
          <>
            {' '}
            · <Icon name="tabler:user" class="w-4 h-4 inline-block -mt-0.5 dark:text-gray-400" />
            <span class="inline-block">{post?.author}</span>
          </>
        )
      }

      {/* Category */}
      {
        post.category && (
          <>
            {' '}
            ·{' '}
            <a class="inline-block" href={getPermalink(post.category, 'category')}>
              {post.category.replaceAll('-', ' ')}
            </a>
          </>
        )
      }

      {/* Reading Time */}
      {
        showReadingTime && post.readingTime && (
          <>
            &nbsp;· <span>{post.readingTime}</span> min read
          </>
        )
      }
    </p>
  )}

  <!-- Title -->
  <h1
    class="tlo-heading-title"
    set:html={headingTitle}
  />
  </h1>

  <!-- Subtitle -->
  <h2
    class="tlo-heading-subtitle"
    set:html={headingSubtitle} />

</div>

